.article {
  align-self: center;
}

.hide-last {
  display: none;
}

.review__featured {
  background-color: #9d99d4;
  color: #fff;
}

.card {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.deal-height {
  height: 10vh;
}

.row-height {
  min-height: 40vh;
}
